.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/encodings.xml
!.idea/inspectionProfiles

__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

venv/
.env/
ENV/
env/
.venv/

.ipynb_checkpoints/

*.log
.DS_Store
Thumbs.db

*.swp
*.swo

logs/
